a {text-decoration: none;} 
.navigation-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

ul { list-style: none; }

.address-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tell {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-item :hover,
.navigation-item :focus,
.address-link:hover,
.address-link:focus,
.header-tell:hover,
.header-tell:focus {
  color: #2196f3;
}

.adress {
  font-style: normal;
}
.header-tell {
  font-style: normal;
}
.logoweb {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
.logo {
  font-family:  'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.main-haiding {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.base-tegs {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.text-idea {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.work{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.over-comand {
  font-family:  'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.name {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.profession {
  font-family:  'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.187;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.adress-kiyv {
  font-family:  'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}
/*===============end-studio======*/
.nav-portfolio-item {
  font-family:  'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.nav-portfolio-item:hover, 
.nav-portfolio-item:focus {
  color: #FFFFFF;;
}
.example-item {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
}
.coment-item {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.875;
/* identical to box height, or 187% */

letter-spacing: 0.03em;

color: #757575;
}